* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    padding-left: 5px;
    margin: 0;
}

.tamIcono {
    width: 20px;
    height: auto;    
}

#ExperienciaLaboral, #Formacion, #Cursos, #Habilidades
{
    visibility: hidden;    
}

#informacionPersonal ul {
    list-style: none;
    padding-left: 5px;
}

article {
    position: relative; 
    width: auto;
    height: auto;
}

h2 {
    font-size: large;
}

.imagenCircular {
    border-radius: 100%;
 }